<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Chat Mockup in Vue</title>
		<!-- Import Vue.js -->
		<script src="https://unpkg.com/vue@3"></script>
	</head>
	
	<body>
		<div id="app">
			<div class="chat-container">
				<ul class="chat-message">
					<li v-for="message in messages">
						<b>{{message.name}}: </b><p>{{message.content}}</p>
					</li>
				</ul>
			</div>
			<form class="chat-inputs" @submit.prevent="onSubmit">
				<label for="name">Name:</label><br>
				<input id="name" v-model="newmsg.name"></input><br>

				<label for="content">Post content:</label><br>
				<textarea id="content" v-model="newmsg.content"></textarea><br>

				<input class="button" type="submit" value="Submit"></input>
			</form>
		</div>
		
		
		<!-- Import App -->
		<script src="./main.js"></script>
	
		<!-- Mount App -->
		<script>
			const mountedApp = app.mount('#app')
		</script>
	</body>
</html>